<nav>
    <div class="site-title">
        <a href="/"><h1>CWB Blog</h1></a>
        <p>Chris Booth Portfolio Website</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog Post</a></li>
    </ul>
</nav>