<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
        <h2>About Me</h2>
        <p>Hello, I'm Chris Booth, an aspiring software developer on a mission to turn my passion for coding 
            into a thriving tech career. With a background as a content producer for blogs and radio, I've mastered 
            the art of storytelling, and now I'm weaving my narratives into lines of Java and Python code.</p>
        <p>Beyond coding, my creative spirit thrives through storytelling. My experience working closely with 
            software developers has allowed me to help them share their unique experiences and insights, 
            resulting in a vibrant portfolio of writing and editing.</p>
        <p>But that's not the whole story. I also hold a Master of Arts in Health Journalism, 
            reflecting my deep-rooted interest in health and well-being. My ultimate goal is to leverage technology 
            in the health tech sector, contributing my coding skills to build a healthier world.</p>
        <p>Explore my work, and let's collaborate on the next exciting chapter of technology and storytelling.</p>
    </div>
<%- include('./partials/footer.ejs') %>
</body>

</html>